<mat-toolbar>
    <mat-toolbar-row>
    <span>{{aluno.nome}}</span>
        <span class="example-spacer"></span>
    </mat-toolbar-row>
</mat-toolbar>
<div class="container-route mat-elevation-z2">
<mat-tab-group mat-stretch-tabs [selectedIndex]="selectedTab.value"
(selectedIndexChange)="selectedTab.setValue($event); changeTootipText()">
    <mat-tab label="Treinos">
        <ng-template mat-tab-label>
            <mat-icon class="example-tab-icon">directions_run</mat-icon>
            <h4>Treinos</h4>
        </ng-template>
        <!--Treinos-->
        <app-aluno-treino *ngFor="let item of listTreino" ></app-aluno-treino>
    </mat-tab>
    <mat-tab label="Avaliações">
        <ng-template mat-tab-label>
            <mat-icon class="example-tab-icon">accessibility</mat-icon>
            <h4>Avaliações</h4>
        </ng-template>
        <!--Avaliações-->
        <app-aluno-avaliacao></app-aluno-avaliacao>
    </mat-tab>
    <mat-tab label="Avaliações">
        <ng-template mat-tab-label>
            <mat-icon class="example-tab-icon">date_range</mat-icon>
            <h4>Periodização</h4>
        </ng-template>
        <!--Periodização-->
        <app-aluno-periodizacao></app-aluno-periodizacao>
    </mat-tab>
    <mat-tab label="Avaliações">
        <ng-template mat-tab-label>
            <mat-icon class="example-tab-icon">restaurant</mat-icon>
            <h4>Nutrição</h4>
        </ng-template>
        <!--Nutrição-->
        <app-aluno-nutricao></app-aluno-nutricao>
    </mat-tab>
    <mat-tab label="Dados Pessoais">
        <ng-template mat-tab-label>
            <mat-icon class="example-tab-icon">person_outline</mat-icon>
            <h4>Dados Pessoais</h4>
        </ng-template>
        <app-aluno-form></app-aluno-form>
    </mat-tab>
</mat-tab-group>
<div class="fab-container-top">
    <button mat-fab (click)="create()"
        [matTooltip]="tooltipButton">
        <mat-icon>add</mat-icon>
    </button>
</div>
<div class="fab-container-bottom">
    <button mat-fab matTooltip="Mensagens do Aluno">
        <mat-icon matBadge="2" matBadgeColor="warn">message</mat-icon>
    </button>
</div>
</div>