<mat-toolbar>
    <mat-toolbar-row>
    <span>Fulano de Tal dos Anzóis ( Engenheiro ) - 110Kg e 1,90m</span>
        <span class="example-spacer"></span>
    </mat-toolbar-row>
</mat-toolbar>
<mat-tab-group mat-stretch-tabs [selectedIndex]="selectedTab.value"
(selectedIndexChange)="selectedTab.setValue($event); changeTootipText()">
    <mat-tab label="Treinos">
        <ng-template mat-tab-label>
            <mat-icon class="example-tab-icon">directions_run</mat-icon>
            <h3>Treinos</h3>
        </ng-template>
        <app-aluno-treino></app-aluno-treino>
        <mat-divider></mat-divider>
        <app-aluno-treino></app-aluno-treino>
        <mat-divider></mat-divider>
        <app-aluno-treino></app-aluno-treino>
        <mat-divider></mat-divider>
        <app-aluno-treino></app-aluno-treino>
    </mat-tab>
    <mat-tab label="Avaliações">
        <ng-template mat-tab-label>
            <mat-icon class="example-tab-icon">accessibility</mat-icon>
            <h3>Avaliações</h3>
        </ng-template>
    </mat-tab>
    <mat-tab label="Dados Pessoais">  
        <ng-template mat-tab-label>
            <mat-icon class="example-tab-icon">person_outline</mat-icon>
            <h3>Dados Pessoais</h3>
        </ng-template> 
    </mat-tab>
</mat-tab-group>
<div class="fab-container">
    <button mat-fab [disabled]="buttonDissabled" class="fab-toggler" (click)="create()" 
        [matTooltip]="tooltipButton">
        <mat-icon>add</mat-icon>
    </button>
</div>