<div matTooltip="Editar {{alunoTreinoExercicio.exercicio.descricao_pt}}"
  matRipple class="ripple-container mat-elevation-z4" (click)="openDialog()"
  [matRippleCentered]="centered"
  [matRippleDisabled]="disabled"
  [matRippleUnbounded]="unbounded"
  [matRippleRadius]="radius"
  [matRippleColor]="color">
  <img [src]="imgUrl"/>
  <div class="ripple-header">
    <div class="title-header">
      <p>{{alunoTreinoExercicio.exercicio.descricao_pt.trim() | uppercase}}</p>
    </div>
  </div>
  <div class="ripple-footer">
     {{alunoTreinoExercicio | alunoTreinoExercicioResumoDados}}
  </div>
</div>