<div matTooltip="Editar Exercício" matRipple class="ripple-container mat-elevation-z4" (click)="openDialog()"
  [matRippleCentered]="centered"
  [matRippleDisabled]="disabled"
  [matRippleUnbounded]="unbounded"
  [matRippleRadius]="radius"
  [matRippleColor]="color">
  <img mat-card-image src="https://cdn1.coachmag.co.uk/sites/coachmag/files/styles/16x9_860/public/2018/03/home-dumbbell-workout-plan.jpg" alt="Photo of a Shiba Inu"/> 
  <div class="ripple-footer">
    <div class="title-footer">LEG PRESS ABD SUPRA INFRA MAX</div>
    <div class="subtitle-footer">3x5 | 100Kg | 60s</div>
  </div>
</div>
