.drag-drop-container {
    border-radius: 6px;
    cursor: pointer;
    text-align: center;
    width: 180px;
    height: 180px;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-drag: none;
    -webkit-tap-highlight-color: transparent;
}
.drag-drop-footer {
    position: absolute;
    bottom: 2px;
    text-align: center;
    align-items: center;
    width: 100%;
    min-height: 30px;
    background-color: white;
    opacity: 0.9;
}
.drag-drop-title-footer {
    font-weight: 500;
    margin-top: 5px;
}
.drag-drop-subtitle-footer {
    margin-top: 2px;
    font-weight: 300;
}
