<mat-button-toggle-group 
        class="menu-buttons-container" 
        name="treinoSelected" aria-label="Selecione um Treino"
        [(ngModel)]="buttonTreinoSelected" 
        (click)="activateDeactivateButton($event)"
        (change)="changeTreino($event)">
        <mat-button-toggle 
                matTooltip="{{alunoTreino.exercicioSeries | treinoExerciciosTooltip}}"
                class="selectable-item"
                *ngFor="let alunoTreino of alunoTreinoList"
                value="{{alunoTreino.descricao}}">
                {{(alunoTreino.descricao | uppercase) | slice:0:20}}
        </mat-button-toggle>
</mat-button-toggle-group>

<div class="container-buttons">
        <button *ngIf="editingMode"
                mat-raised-button color="accent"
                (click)="save()" matTooltip="Salvar Periodização">
        <mat-icon>save</mat-icon>Salvar</button>

        <button matTooltip="Mês Anterior" mat-raised-button
                mwlCalendarPreviousView
                [view]="view"
                [(viewDate)]="viewDate"
                (viewDateChange)="nextMonth()">
        <mat-icon>arrow_back</mat-icon></button>

        <button matTooltip="Mês Atual" mat-raised-button
                mwlCalendarToday
                [(viewDate)]="viewDate"
                (viewDateChange)="nextMonth()">
        <mat-icon>today</mat-icon></button>

        <button matTooltip="Próximo Mês" mat-raised-button
                mwlCalendarNextView
                [view]="view"
                [(viewDate)]="viewDate"
                (viewDateChange)="nextMonth()">
        <mat-icon>arrow_forward</mat-icon>
        </button>
</div>

<div class="container-calendar" [class.saving-box]="editingMode">
        <div class="calendar-item">
                <h4>{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</h4>
                <mwl-calendar-month-view
                        [viewDate]="viewDate"
                        [events]="events"
                        [activeDayIsOpen]="activeDayIsOpen"
                        (beforeViewRender)="beforeMonthViewRender($event)"
                        (dayClicked)="dayClicked($event)"
                        (eventClicked)="deleteEvent($event.event)"
                >
                </mwl-calendar-month-view>
        </div>
        <div class="calendar-item">
                <h4>{{ viewDateNext | calendarDate:(view + 'ViewTitle'):'en' }}</h4>
                <mwl-calendar-month-view
                        [viewDate]="viewDateNext"
                        [events]="events"
                        [activeDayIsOpen]="activeDayIsOpenNextMonth"
                        (beforeViewRender)="beforeMonthViewRender($event)"
                        (dayClicked)="dayClickedNextMonth($event)"
                        (eventClicked)="deleteEvent($event.event)"
                >
                </mwl-calendar-month-view>
        </div>
</div>