<form [formGroup]="formAluno">
<mat-card>
    <mat-card-header>
        <mat-card-title>{{aluno.nome}}</mat-card-title>
        <mat-card-subtitle>38 anos 110Kg 1,90m - Engenheiro</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <div fxLayout="row">
            <mat-form-field appearance="outline" class="field-460">
                <mat-label>Nome</mat-label>
                <input matInput placeholder="Nome do(a) Aluno(a)" formControlName="nome">
                <mat-icon matSuffix>person_pin</mat-icon>
            </mat-form-field>
            <mat-form-field appearance="outline" class="field-340">
                <mat-label>Email</mat-label>
                <input matInput placeholder="E-mail válido para o(a) Aluno(a)" formControlName="email">
                <mat-icon matSuffix>email</mat-icon>
            </mat-form-field>
        </div>
        <div fxLayout="row">
            <mat-form-field appearance="outline" class="field-220">
                <mat-label>Nascimento</mat-label>
                <input matInput placeholder="Data de Nascimento" formControlName="data_nascimento">
                <mat-icon matSuffix>child_care</mat-icon>
            </mat-form-field>
            <mat-form-field appearance="outline" class="field-220">
                <mat-label>Inicio dos Treinos</mat-label>
                <input matInput placeholder="Data de Inicio dos Treinos" formControlName="data_matricula">
                <mat-icon matSuffix>fitness_center</mat-icon>
            </mat-form-field>
            <mat-radio-group aria-label="Select an option" formControlName="data_matricula">
                <mat-radio-button value="Masculino" class="field-150">Masculino</mat-radio-button>
                <mat-radio-button value="Feminino" class="field-150">Feminino</mat-radio-button>
            </mat-radio-group>
        </div>
        <div fxLayout="row">
            <mat-form-field appearance="outline" class="field-340">
                <mat-label>Login de Acesso ao App</mat-label>
                <input matInput placeholder="Login de Acesso ao App" formControlName="usuario">
                <mat-icon matSuffix>verified_user</mat-icon>
            </mat-form-field>
            <mat-form-field appearance="outline" class="field-220">
                <mat-label>Senha de Acesso ao App</mat-label>
                <input type="password" matInput placeholder="Senha de Acesso ao App"
                 formControlName="senha">
                <mat-icon matSuffix>security</mat-icon>
            </mat-form-field>
            <mat-form-field appearance="outline" class="field-220">
                <mat-label>Confirmação de Senha</mat-label>
                <input type="password" matInput placeholder="Confirmação de Senha" 
                formControlName="senha">
                <mat-icon matSuffix>check_circle_outline</mat-icon>
            </mat-form-field>
        </div>
    </mat-card-content>
    <mat-card-actions align="start">
        <button mat-raised-button color="accent" (click)="submit()">Salvar</button>
    </mat-card-actions>
</mat-card>
</form>