<div mat-dialog-title>Séries x Repetições</div>
<div mat-dialog-content>
    <form [formGroup]="form">
        <mat-form-field class="full-width">
            <mat-label>Séries x Repetições</mat-label>
            <input matInput placeholder="Séries x Repetições" 
            formControlName="seriesRepeticoes">
        </mat-form-field>
        <mat-form-field class="full-width">
            <mat-label>Observações</mat-label>
            <textarea matInput placeholder="Observações" 
            formControlName="observacoes">
            </textarea>
        </mat-form-field>
    </form>
</div>
<div mat-dialog-actions>
  <button mat-raised-button (click)="save()" color="accent" type="button" cdkFocusInitial>
    <mat-icon>done</mat-icon>OK</button>
  <button mat-raised-button (click)="onNoClick()">
      <mat-icon>close</mat-icon>Fechar</button>
</div>
