<form [formGroup]="formSignIn">
    <mat-card>
        <mat-card-header>
            <mat-card-title>
                Nexur
            </mat-card-title>
            <mat-card-subtitle>
                Informe os dados de usuário e senha
            </mat-card-subtitle>
        </mat-card-header>
        <div fxLayout="row">
            <mat-form-field appearance="outline" class="field-220">
                <mat-label>Usuário</mat-label>
                <input matInput placeholder="Usuário" formControlName="usuario">
                <mat-icon matSuffix>person</mat-icon>
            </mat-form-field>
        </div>
        <div fxLayout="row">
            <mat-form-field appearance="outline" class="field-220">
                <mat-label>Senha</mat-label>
                <input type="password" matInput placeholder="Senha" formControlName="senha">
                <mat-icon matSuffix>security</mat-icon>
            </mat-form-field>
        </div>
        <mat-card-actions>
            <button mat-button (click)="login()">Entrar</button>
            <button mat-button (click)="forget()">Esqueci os dados</button>
        </mat-card-actions>
    </mat-card>
</form>
