.container-login {
    display: flex;
    height: auto;
    width: 100%;
    align-items: center;
    flex-direction: column;
    justify-items: center;
    padding-top: 10%;
}
.mat-card {
    align-items: center;
    width: 280px;
    height: 280px;
}
  