<mat-form-field>
    <input matInput (keyup)="debounce.next($event.target.value)" placeholder="Filtrar">
</mat-form-field>
<div class="container-route mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort>
        <ng-container matColumnDef="nome">
            <th mat-header-cell *matHeaderCellDef mat-sort-header><h3>Nome</h3></th>
            <td mat-cell *matCellDef="let aluno">{{aluno.nome}}</td>
        </ng-container>

        <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef mat-sort-header><h3>Email</h3></th>
            <td mat-cell *matCellDef="let aluno">{{aluno.email}}</td>
        </ng-container>

        <ng-container matColumnDef="avaliacao">
            <th mat-header-cell *matHeaderCellDef mat-sort-header><h3>Avaliação</h3></th>
            <td mat-cell *matCellDef="let aluno">
                15/06/19 - 110Kg IMC 29,8 (Prox. 15/09/19)
            </td>
        </ng-container>

        <ng-container matColumnDef="vencimento">
            <th mat-header-cell *matHeaderCellDef mat-sort-header><h3>Vencimento</h3></th>
            <td mat-cell *matCellDef="let aluno">31/08/2019</td>
        </ng-container>
        <ng-container matColumnDef="grupo">
            <th mat-header-cell *matHeaderCellDef mat-sort-header><h3>Grupo</h3></th>
            <td mat-cell *matCellDef="let aluno">{{aluno.grupo}}</td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="edit(row)">
    </table>
    <mat-paginator [pageSizeOptions]="[10, 20, 50]" showFirstLastButtons></mat-paginator>
</div>