.background-expansion {
  background-color: whitesmoke;
}
.wrap-tile {
  flex-wrap: wrap;
  margin-top: 10px;
}
.fixed-sized-button {
  width: 150px;
  margin-left: 20px;
  margin-right: 5px;
}
.active {
  background-color: white;
}
.inactive {
  background-color: grey;
}
.card-title {
  font-size: 16px;
  font-weight: 500;
}
.big-icon {
  font-size: 6em;
}
.plus-button {
  border-radius: 6px;
  width: 150px;
  height: 150px;
  padding-top: 40px;
  padding-left: 45px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-drag: none;
  -webkit-tap-highlight-color: transparent;
}
.plus-button:hover{
  border-radius: 5px;
  filter: brightness(95%);
}
.plus-button span {
  display: block;
  font-size: 16px;
  margin-left: -10px;
}
@keyframes changeborder {
  from {
    border-color: lightpink;
  }

  to {
    border-color: tomato;
  }
}

.saving-box {
  border-style: solid;
  border-width: 2px;
  animation-duration: 0.5s;
  animation-name: changeborder;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
.saving-box:hover {
  background-color: #ffffbf;
}
.background-box:hover {
  background-color: #ffffbf;
}
.container-header {
  width: 100%;
  display: flex;
}
.left {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  cursor: pointer;
  padding-bottom: 10px;
  padding-top: 5px;
  padding-right: 10px;
  padding-left: 10px;
  border-radius: 5px;
}
.left:hover {
  box-shadow: 2px 2px 5px #888888;
}
.left-top {
  font-size: 18px;
  font-weight: 500;
}
.left-bottom {
  font-size: 12px;
  color: gray;
}
.expandable-area {
  cursor: pointer;
  flex-grow: 1;
  flex-basis: auto;
  padding-bottom: 10px;
}
.right {
  display: flex;
  flex-grow: 1;
  padding-bottom: 10px;
}
.no-expandable-area {
  display: flex;
  justify-content: space-around;
  width: 300px;
}
.card-margin {
  margin-bottom: 5px;
}
.mat-grid-margin-top10 {
  margin-top: 10px;
}
