<mat-card class="mat-elevation-z2 card-margin"
    [class.background-box]="!editingMode"
    [class.saving-box]="editingMode">
    <mat-card-header class="false-button">

        <div class="container-header">
            <div class="left" matTooltip="{{(activeTrain ? '' : '(Treino Inativo)') + 'Editar Descrição e Data de Validade do Treino'}}" (click)="openDialogEditarTreino()">
                <div class="left-top">{{alunoTreino.descricao | uppercase}}</div>
                <div class="left-bottom">{{alunoTreino.data_ativacao | intervalDate:alunoTreino.data_vencimento }}</div>
            </div>
            <div class="right">
                <div class="expandable-area" (click)="expandExercices()" matTooltip="{{(activeTrain ? '' : '(Treino Inativo)') + 'Visualizar e Editar Exercícios'}}"></div>
                <div class="no-expandable-area">
                    <button *ngIf="editingMode"  mat-raised-button color="accent" (click)="save()" matTooltip="Salvar o Treino">
                        <mat-icon>save</mat-icon>Salvar</button>
                    <span *ngIf="buttonSaveText">Salvando Treino...</span>
                    <mat-slide-toggle *ngIf="!buttonSaveText" class="fixed-sized-button" (toggleChange)="activateTrain()" [checked]="activeTrain">
                        {{activeTrain ? "Desativar" : "Ativar"}}
                    </mat-slide-toggle>
                </div>
            </div>
        </div>
    </mat-card-header>
    <mat-card-content>
    <mat-accordion displayMode="flat" [multi]="true" [hideToggle]="false">
        <mat-expansion-panel [hideToggle]="false" [expanded]="expanded">
            <mat-grid-list cols="6" class="wrap-tile">
                <mat-grid-tile *ngFor="let exercicio of alunoTreino.exercicioSeries">
                    <app-aluno-treino-exercicio
                        [alunoTreinoExercicio]="exercicio"
                        (mudouAlunoTreinoExercicio)="modificarExercicio($event)"></app-aluno-treino-exercicio>
                </mat-grid-tile>
                <mat-grid-tile>
                    <div matRipple class="plus-button" matTooltip="Novo Exercício" (click)="openDialogNovoExercicio()">
                        <mat-icon class="big-icon">add_circle_outline</mat-icon>
                        <span>Novo Exercício</span>
                    </div>
                </mat-grid-tile>
            </mat-grid-list>
        </mat-expansion-panel>
    </mat-accordion>
    </mat-card-content>
</mat-card>