<mat-card class="mat-elevation-z2 background-box">
    <mat-card-header class="false-button">
        <mat-card-title (click)="expandExercices()">
            {{treino.descricao | uppercase}}
        </mat-card-title>
        <mat-card-subtitle (click)="expandExercices()">
            {{treino.data_ativacao}} a {{treino.data_vencimento}}
        </mat-card-subtitle>
        <mat-slide-toggle class="fixed-sized-button" (toggleChange)="activateTrain()" [checked]="activeTrain">
            {{activeTrain ? "Desativar" : "Ativar"}}
        </mat-slide-toggle>
        <div class="false-button-block" (click)="expandExercices()"></div>
    </mat-card-header>
    <mat-card-content>
    <mat-accordion displayMode="flat" [multi]="true" [hideToggle]="false">
        <mat-expansion-panel [hideToggle]="false" [expanded]="expanded">
            <mat-grid-list cols="6" class="wrap-tile">
                <mat-grid-tile *ngFor="let exercicio of treino.exercicioSeries">
                    <app-aluno-treino-exercicio
                        [alunoTreinoExercicio]="exercicio"
                        (mudouAlunoTreinoExercicio)="modificarListaTreino($event)"></app-aluno-treino-exercicio>
                </mat-grid-tile>
                <mat-grid-tile>
                    <div matRipple class="plus-button" matTooltip="Novo Exercício">
                        <mat-icon class="big-icon">add_circle_outline</mat-icon>
                        <span>Novo Exercício</span>
                    </div>
                </mat-grid-tile>
            </mat-grid-list>
        </mat-expansion-panel>
    </mat-accordion>
    </mat-card-content>
</mat-card>
<mat-divider></mat-divider>