<div class="example-container1">
    <h2>Exercícios</h2>
    
    <div
        cdkDropList
        #todoList="cdkDropList"
        [cdkDropListData]="todo"
        [cdkDropListConnectedTo]="[doneList]"
        class="example-list"
        (cdkDropListDropped)="drop($event)">
        <app-exercicio-drag-drop-item class="example-box" *ngFor="let item of todo" cdkDrag>
            
        </app-exercicio-drag-drop-item>
    </div>
    </div>
    
    <div class="example-container2">
    <h2>Treino do Aluno</h2>
    
    <div
        cdkDropList
        #doneList="cdkDropList"
        [cdkDropListData]="done"
        [cdkDropListConnectedTo]="[todoList]"
        class="example-list"
        (cdkDropListDropped)="drop($event)">
        <app-exercicio-drag-drop-item class="example-box" *ngFor="let item of done" cdkDrag></app-exercicio-drag-drop-item>
    </div>
</div>
