.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 100px;
}

.sidenav .mat-toolbar {
  background: inherit;
}
.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 2;
}
.big_button_side_menu {
  min-height: 50px;
  max-height: 80px;
  padding-bottom: 15px;
  width: 100%;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: initial;
}
.big_button_side_menu_subtitle {
  padding: 0px;
  text-align: center;
}
.logo-route { 
  text-align: left;
  padding-left: 120px;
  background:url(NEXUR_BRANCO.svg) center center no-repeat;
  background-size: 120px 100px;
  background-position: left;
  height: 37px;
}