<mat-card>
    <mat-card-header>
        <mat-card-title>
            TREINO DE FORÇA (CrossFit)
            <button mat-stroked-button color="primary" (click)="expandExercices()">
                <mat-icon>view_module</mat-icon>
                Exibir
            </button>
            <button mat-stroked-button color="primary">
                <mat-icon>edit</mat-icon>
                Editar
            </button>
            <button mat-stroked-button color="warn">
                <mat-icon>block</mat-icon>
                Desativar
            </button>
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
    <mat-accordion displayMode="flat" [multi]="true" [hideToggle]="false">
        <mat-expansion-panel [hideToggle]="false" [expanded]="expanded">
            <mat-grid-list cols="4">
                <mat-grid-tile><app-aluno-exercicio></app-aluno-exercicio></mat-grid-tile>
                <mat-grid-tile><app-aluno-exercicio></app-aluno-exercicio></mat-grid-tile>
                <mat-grid-tile><app-aluno-exercicio></app-aluno-exercicio></mat-grid-tile>
                <mat-grid-tile><app-aluno-exercicio></app-aluno-exercicio></mat-grid-tile>
                <mat-grid-tile><app-aluno-exercicio></app-aluno-exercicio></mat-grid-tile>
            </mat-grid-list>
        </mat-expansion-panel>
    </mat-accordion>
    </mat-card-content>
</mat-card>

