<mat-card>
    <mat-card-header>
        <mat-card-title>
            TREINO DE FORÇA (CrossFit)
            <button matTooltip="{{showHideText}} todos os exercícios deste treino" 
            mat-stroked-button color="primary" (click)="expandExercices()">
                <mat-icon>view_module</mat-icon>
                {{showHideText}} Exercícios
            </button>
            <button matTooltip="Editar dados deste treino"
            mat-stroked-button color="primary">
                <mat-icon>edit</mat-icon>
                Editar Treino
            </button>
            <button matTooltip="Editar a Periodização deste treino" 
            mat-stroked-button color="primary">
                <mat-icon>date_range</mat-icon>
                Periodização
            </button>
            <button matTooltip="Desativar Treino"
            mat-stroked-button color="warn">
                <mat-icon>block</mat-icon>
                Desativar Treino
            </button>
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
    <mat-accordion displayMode="flat" [multi]="true" [hideToggle]="false">
        <mat-expansion-panel [hideToggle]="false" [expanded]="expanded">
            <mat-grid-list cols="5">
                <mat-grid-tile>
                    <app-aluno-treino-exercicio></app-aluno-treino-exercicio>
                </mat-grid-tile>
                <mat-grid-tile>
                    <app-aluno-treino-exercicio></app-aluno-treino-exercicio>
                </mat-grid-tile>
                <mat-grid-tile>
                    <app-aluno-treino-exercicio></app-aluno-treino-exercicio>
                </mat-grid-tile>
                <mat-grid-tile>
                    <app-aluno-treino-exercicio></app-aluno-treino-exercicio>
                </mat-grid-tile>
                <mat-grid-tile>
                    <app-aluno-treino-exercicio></app-aluno-treino-exercicio>
                </mat-grid-tile>
            </mat-grid-list>
        </mat-expansion-panel>
    </mat-accordion>
    </mat-card-content>
</mat-card>
<app-aluno-treino-edit></app-aluno-treino-edit>
