.background-expansion {
  background-color: whitesmoke;
}
.wrap-tile {
  flex-wrap: wrap;
}
.fixed-sized-button {
  width: 150px;
  min-height: 35px;
  margin-left: 20px;
  margin-right: 5px;
}
.active {
  background-color: white;
}
.inactive {
  background-color: grey;
}
.card-title {
  font-size: 16px;
  font-weight: 500;
}
.big-icon {
  font-size: 6em;
}
.plus-button {
  border-radius: 6px;
  width: 150px;
  height: 150px;
  padding-top: 40px;
  padding-left: 50px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-drag: none;
  -webkit-tap-highlight-color: transparent;
}
.plus-button:hover{
  border-radius: 5px;
  filter: brightness(95%);
}
.plus-button span {
  display: block;
  font-size: 16px;
  margin-left: -10px;
}

.background-box:hover {
  background-color: rgba(255, 255, 219, 0.952);
}

.false-button {
  cursor: pointer;
}
.false-button-block {
  width: 40%;
  height: 60px;
  float: right;
}