@import '~@angular/material/theming';
@import '~ngx-toastr/toastr';

@include mat-core();
$my-theme-primary: mat-palette($mat-grey, 900);
$my-theme-accent: mat-palette($mat-yellow, A400, A200, A700);
$my-theme-warn: mat-palette($mat-red);

$nexur-theme: mat-light-theme($my-theme-primary, $my-theme-accent, $my-theme-warn);

@include angular-material-theme($nexur-theme);