/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.full-width {
    width: 100%;
  }
  .container-route {
    width: 98%;
    border-radius: 5px;
    margin-left: 1%;
  }
  .container-route-no-header {
    width: 98%;
    border-radius: 5px;
    margin-top: 1%;
    margin-left: 1%;
  }
  .field-150 {
    width: 100px;
    margin-left: 20px;
  }
  .field-220 {
    width: 220px;
    margin-left: 20px;
  }
  .field-340 { 
    width: 340px;
    margin-left: 20px;
  }
  .field-460 { 
    width: 460px;
    margin-left: 20px;
  }
  .field-580 { 
    width: 580px;
    margin-left: 20px;
  }
  tr:hover {
    background-color: rgba(255, 255, 219, 0.952);
    cursor: pointer;
  }