.tile-padding {
    width: 80%;
}

.container-edit{ 
    width: 100%;
    /*border: solid 1px rgb(139, 23, 23);*/
    padding: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    overflow: auto;
}
.container-list {
    width: 36%;
    height: 100%;
    display: inline-block;
    vertical-align: top;
    overflow: auto;
  }
.container-form {
    width: 64%;
    height: 100%;
    display: flex;
    flex-direction: row;
    vertical-align: center;
    justify-content: space-around;
  }
.container-image {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    max-width: 60%;
    max-height: 100%;
    vertical-align: center;
    border-color: blueviolet;
    border-width: 2px;
    border-style: solid;
    padding: 10px;
}
.container-image > img {
    width: auto;
    height: 100%;
}
.container-fields {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 40%;
    height: 100%;
    vertical-align: center;
    border-color: brown;
    border-width: 2px;
    border-style: solid;
  }
.example-list {
    border: dotted 1px #ccc;
    max-height: 360px;
    background: white;
    border-radius: 4px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow: auto;
}
.example-list2 {
    border: solid 1px rgb(93, 29, 145);
    max-height: 390px;
    background: white;
    border-radius: 4px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow: auto;
}
.box-left {
    width: 150px;
    height: 150px;
    padding: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
}