<h6 mat-dialog-title>LEG PRESS ABD SUPRA INFRA MAX</h6>
<div mat-dialog-content>
    <mat-grid-list cols="2">
        <div class="example-container1">
            <form [formGroup]="exercicioUsuarioForm">
                <mat-form-field class="full-width">
                    <input (keyup)="debounce.next($event.target.value)" matInput placeholder="Pesquise por Nome, Tipo ou Equipamento" formControlName="nomeTipoEquipamento">
                </mat-form-field>
            </form>
            <div class="example-list">
                <app-exercicio-usuario
                    class="box-left"
                    *ngFor="let exercicioUsuario of listaExercicioUsuario | async"
                    [showSubTitle]="false"
                    [exercicioUsuario]="exercicioUsuario">
                 </app-exercicio-usuario>
            </div>
        </div>
        <mat-grid-tile>
            <form [formGroup]="alunoExercicioForm">
                <mat-form-field class="full-width">
                    <input matInput placeholder="Tipo de Repetição" formControlName="tipoRepeticao">
                </mat-form-field>
                <mat-form-field class="full-width">
                    <input matInput placeholder="Repetição" formControlName="repeticao">
                </mat-form-field>
                <div>
                    <mat-form-field>
                        <input matInput placeholder="Carga" formControlName="carga">
                    </mat-form-field>
                    <mat-form-field>
                        <input matInput placeholder="Intervalo" formControlName="intervalo">
                    </mat-form-field>
                </div>
                <mat-form-field class="full-width">
                    <input matInput placeholder="Nota" formControlName="nota">
                </mat-form-field>
            </form>
        </mat-grid-tile>
    </mat-grid-list>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancelar</button>
  <button mat-button type="button"
   [mat-dialog-close]="[alunoExercicioForm.get('tipoRepeticao').value,
  alunoExercicioForm.get('repeticao').value]" cdkFocusInitial>Ok</button>
</div>
