.tile-padding {
    width: 80%;
}

.container-edit{ 
    width: 100%;
    /*border: solid 1px rgb(139, 23, 23);*/
    padding: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    overflow: auto;
}
.example-container1 {
    width: 36%;
    height: 100%;
    display: inline-block;
    vertical-align: top;
    overflow: auto;
  }
.example-container2 {
    width: 64%;
    height: 100%;
    display: inline-block;
    vertical-align: top;
    overflow: auto;
  }
  
.example-list {
    border: dotted 1px #ccc;
    max-height: 360px;
    background: white;
    border-radius: 4px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow: auto;
}
.example-list2 {
    border: solid 1px rgb(93, 29, 145);
    max-height: 390px;
    background: white;
    border-radius: 4px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow: auto;
}
.box-left {
    width: 150px;
    height: 150px;
    padding: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
}